<form class='formulaire_recherche' action="/recherche" name='formulaire_recherche' id='formulaire_recherche' method="POST" >
 <input type = "text" placeholder="" name = "elemRecherche" value=''> 
 <input type = "submit" value='Recherche'>
</form>