@couleurPrincipal : #616161;
@couleurFoncer : darken(@couleurPrincipal, 20%);
@couleurPale : lighten(@couleurPrincipal, 20%);
@couleurSecondaire : #0d47a1;


body{
	font-family: 'Roboto', sans-serif;

	header{
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
		width: 100vw;
		height: 20vh;
		background-color: @couleurPrincipal;
		border-top: 1em solid @couleurFoncer;

	nav{
		a{
			color:white;
			text-decoration: none;
			padding-left: 1em;
		}
	}

	section{
		display: flex;
		flex-direction:column;
		justify-content:center;
		align-items:center;
	
		i{
			color:white;
		}

		h1{
			color:white;
		}
	}
}

	.mon_formulaire {
		background-color: @couleurPale;
		display: flex;
		flex-direction:column;

		input{
			
			height: 2em;

			&:last-child{
				height: 3em;
				border: none; 
				color:white;
				font-weight: bold;
				text-transform: uppercase;
				background-color: @couleurSecondaire;
			}
		}
	}
	
	.formulaire_recherche{
		display: flex;
		border-top: 2px solid @couleurFoncer;
		border-bottom: 2px solid @couleurFoncer;
		height: 2em;

		input{
			width: 60%;

			&:last-child{
				width: 40%;
				color:white;
				border: none;
				font-weight: bold;
				text-transform: uppercase;
				background-color: @couleurSecondaire;
			}
		}
	}

	table{
		width: 100vw;
		overflow-x: scroll;
		tbody{
			width: 100vw;
			overflow-x: scroll;
			tr{
				&:first-child{
					color:white;
					background-color: @couleurFoncer;

					th{
						background-color: @couleurFoncer;
						a{
							color: white;
							text-decoration: none;
						}
					}
				}

				&:nth-child(even){
					background-color: @couleurPale;
				}
				
				td{
					padding: 0.5em;
					text-align: center;

					&:nth-child(6){
						background-color: red;
						i{
							color:white;
						}
					}
					&:nth-child(8){
						background-color: @couleurSecondaire;
						i{
							color:white;
						}
					}
				}

				td,th{	
					&:first-child,&:nth-child(4),&:nth-child(7),&:nth-child(5){
						display: none;
					}
				}
			}
		}
	}

}

footer{
	background-color: @couleurFoncer;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	
	color:white;
}